{% extends 'base.html' %}
{% block title %} Оформлення замовлення {% endblock %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row my-5">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <h3 class="card-title text-center">Оформлення замовлення</h3>
                    <div class="card-body">
                        <form method="POST" action="">{% csrf_token %}
                            <div class="form-group">
                                {{ form.as_p }}
                            </div>
                            <div class="wrap-btn text-center">
                                <button type="submit" class="btn btn-primary">Оформити замовлення</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}